$primary-color: #6c35de; // Cor primária para elementos principais como botões, links, etc.
$secondary-color: #a364ff; // Cor secundária frequentemente usada para elementos complementares ou acentos.
$white-color: #ffffff; // Cor branca para fundos ou texto.
$heading-color: #ffc7ff; // Cor para títulos principais.
$para-color: #cb80ff; // Cor para texto de parágrafo.
$black-color: #373737; // Cor preta para texto ou outros elementos.
$heading-color-2: #ffffff; // Outra cor para títulos secundários.
$normal-color: #e0e0e0; // Cor de texto normal.
$background: #241b35; // Cor de fundo para a página inteira.
$background-2: #342a45; // Outra cor de fundo, talvez para seções específicas.
$border: #4d425f; // Cor para bordas.
$border-1: #4d425f; // Outra cor para bordas, potencialmente para bordas mais finas.


$fm-unna: 'Unna', serif; // Font family for headings, using Unna or a similar serif font.
$fm-nunito: 'Nunito Sans', sans-serif; // Font family for paragraph text, using Nunito Sans or a similar sans-serif font.
